@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Dosis:300,400,600,700,800|Droid+Sans:400,700|Lato:300,400,700,900|PT+Sans:400,700|Ubuntu:300,400,500,700|Open+Sans:400,300,600,700|Roboto:400,300,500,700,900|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Play:400,700|Maven+Pro:400,500,700,900&subset=latin,latin-ext);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #333;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 300;
  color: White;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  overflow: hidden;
}

.page {
  width: 98%;
  height: 98%;
  max-width: 500px;
  max-height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.page .bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 480px;
  margin: auto auto;
  // background-size: cover;
  // background-image: url("http://i.imgur.com/Jp5wKOR.jpg");
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.page .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 480px;
  margin: auto auto;
  background-color: #333;
}
.page .cover-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto auto;
  // background-image: url("http://i.imgur.com/07S4eUb.jpg");
  // background-size: cover;
  opacity: 0.1;
}
.page > header {
  position: absolute;
  width: 92%;
  top: 2%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  // -moz-border-radius: 8px;
  // -webkit-border-radius: 8px;
  // border-radius: 8px;
  font-family: "Open Sans";
  font-weight: 400;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.8);
}
.page .panel {
  background-color: rgba(0, 0, 0, 0.2);
  // -moz-border-radius: 8px;
  // -webkit-border-radius: 8px;
  // border-radius: 8px;
  overflow: hidden;
}
.page .panel .content {
  padding: 4px;
}
.title{
    text-shadow: 1px 1px 2px rgba(50,50,50,0.9);
    font-weight: bold;
}
.page .panel header {
  text-align: center;
}
.page .panel header .title {
  font-size: 1.2rem;
  line-height: 2.0rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
  font-weight: bold;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}
.page .panel.panel-channel-list {
  position: absolute;
  top: 11%;
  bottom: 11rem;
}
.page .panel.panel-channel-list .list {
  overflow: auto;
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
}
.page .panel.panel-channel-list .list .ps-scrollbar-y-rail {
  background-color: transparent;
}
.page .panel.panel-channel-list .list .ps-scrollbar-y-rail:hover {
  background-color: transparent;
}
.page .panel.panel-channel-list .list .ps-scrollbar-y {
  background-color: #8a19cb;
}
.page .panel.panel-channel-list ul {
  padding: 0;
  list-style: none;
}
.page .panel.panel-channel-list ul li {
  position: relative;
  cursor: pointer;
  margin: 0 1rem 0 0.3rem;
  padding: 0.3rem 0.3rem;
  // -moz-border-radius: 4px;
  // -webkit-border-radius: 4px;
  // border-radius: 4px;

}
.page .available ul li{
  height:24px;
  line-height: 24px
}
.page .favorites ul li{

}
.page .panel.panel-channel-list ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.page .panel.panel-channel-list ul li .title {
  font-weight: 600;
}
.page .panel.panel-channel-list ul li .title .country {
  padding-left: 5px;
  font-size: 0.8rem;
}
.page .panel.panel-channel-list ul li .categories {
  font-size: 0.8rem;
  float: left;
}
.page .panel.panel-channel-list ul li .bitrate {
  font-size: 0.8rem;
  float: right;
}
.page .panel.panel-channel-list ul li .star {
  position: absolute;
  top: 0.5rem;
  right: 0.1rem;
}
.page .panel.panel-channel-list ul li:before, .page .panel.panel-channel-list ul li:after {
  content: "";
  display: table;
}
.page .panel.panel-channel-list ul li:after {
  clear: both;
}
.page .panel.panel-channel-list.available {
  left: 4%;
  right: 52%;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.8);
}
.page .panel.panel-channel-list.favorites {
  left: 52%;
  right: 4%;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.8);
}
.page .panel.panel-controls {
  position: absolute;
  left: 4%;
  right: 4%;
  bottom: 2%;
  height: 8rem;
  padding: 0.5rem;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.8);
}
.page .panel.panel-controls .cover-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto auto;
  // background-image: url("http://i.imgur.com/07S4eUb.jpg");
  // background-size: cover;
  background-position: center;
  opacity: 0.2;
}
.page .panel.panel-controls .cover {
  float: left;
  width: 8rem;
  height: 100%;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.95);
  // margin-right: 0.5rem;
  // background-image: url("http://i.imgur.com/N6OqT4T.jpg");
  // background-size: cover;
  // -moz-border-radius: 4px;
  // -webkit-border-radius: 4px;
  // border-radius: 4px;

}
.page .panel.panel-controls .playButton {
  float: left;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border: 2px solid #b85eec;
  -moz-border-radius: 3rem;
  -webkit-border-radius: 3rem;
  border-radius: 3rem;
  line-height: 3rem;
  text-align: center;
  vertical-align: center;
}
.page .panel.panel-controls .playButton i {
  margin-left: 2px;
  font-size: 1.4rem;
  color: #f4e7fc;
}
.page .panel.panel-controls .playButton.playing i:before {
  content: "\f04c";
}
.page .panel.panel-controls .tracker {
  position: relative;
  margin-left: 9rem;
}
.page .panel.panel-controls .tracker .slider {
  margin-top: 0.2rem;
}
.page .panel.panel-controls .tracker .slider .time, .page .panel.panel-controls .tracker .slider .totalTime {
  float: left;
  font-size: 0.8rem;
}
.page .panel.panel-controls .tracker .slider .time i, .page .panel.panel-controls .tracker .slider .totalTime i {
  margin-right: 5px;
}
.page .panel.panel-controls .tracker .slider .slide {
  float: left;
  width: 60%;
  height: 0.5rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.4rem 0.5rem;
}
.page .panel.panel-controls .tracker .slider .slide .pos {
  width: 21%;
  height: 0.5rem;
  background-color: White;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.page .panel.panel-controls .tracker .slider:before, .page .panel.panel-controls .tracker .slider:after {
  content: "";
  display: table;
}
.page .panel.panel-controls .tracker .slider:after {
  clear: both;
}
.page .panel.panel-controls .tracker .trackName {
  font-weight: 600;
}
.page .panel.panel-controls .tracker .trackName i {
  width: 1.2rem;
}
.page .panel.panel-controls .tracker .artistName {
  font-size: 0.9rem;
}
.page .panel.panel-controls .tracker .favorite {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
}
.page .panel.panel-controls .tracker .favorite i {
  font-size: 1.2rem;
}
.page .panel.panel-controls .tracker .favorite.starred i:before {
  content: "";
}
.page .panel.panel-controls .tracker .volume {
  position: absolute;
  right: 0;
  bottom: 0;
  height:25px;
  line-height: 25px;
}
.page .panel.panel-controls .tracker .volume .icon {
  display: inline-block;
  padding-bottom: 0.2rem;
  width: 1rem;
}
.page .panel.panel-controls .tracker .volume .slide {
  display: inline-block;
  width: 4rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.0rem 0.5rem;
}
.page .panel.panel-controls .tracker .volume .slide .pos {
  width: 80%;
  height: 0.5rem;
  background-color: White;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
